html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Martel','Montserrat' serif;
  
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Geen flex op de body tag */
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(253, 250, 246, 1)
}
 /*header*/
header {
  height: 100vh;
  height: 100svh;
  max-height: 1080px;
  min-width: 502px;
  position: relative;
  background-color: darkgrey;
  background-image: url("assets/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

nav {
  position: fixed;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}
header nav .site-nav {
  height: 100%;
}

header nav .site-nav div {
  height: 3px;
  width: 40px;
  margin: 0.5rem;
  background-color: white;
}

header .title {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

svg {
  position: relative;
  height: 50px;
  padding: 1rem 0 0.5rem 0;
}


.content {
  min-width:100%;
}
h1 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family:"Montserrat", serif;
}

h1 b {
  font-size: 6rem;
  font-family:"Montserrat", serif;
  font-weight: 600;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  left: 1rem;
  font-family: "Martel", serif;
  padding-left: 2rem;
  margin-top: 108px;

}
.tag__container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
  margin-bottom: 2rem;
  /* margin: 0 2rem; */
  /* padding: 0 2rem; */
  /* margin-top: 2rem; */
}

.container_1 {
  display: block;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.tag {
  background-color:rgba(244, 244, 245, 1);
  border-radius: 1;
  color: #222;
  height: 2em;
  padding: 0.5rem;
  line-height: 1.5;
  white-space: nowrap;
  margin: 0.5rem;
}
span {
  margin-left: 8rem;
  background-color: grey; ;
}

p {
  font-family: "Martel", serif;
  font-weight: 400;
  padding-left: 4rem;
  left: 1rem;
  right: 2rem;
  justify-content: center;
  max-width: 800px;
  font-size: medium;
}

h3 {
  font-weight: 700;
  font-family: "Monserrat";
  font-size: 1.5rem;
  padding-left: 4rem;
  margin-top: 5.5rem;
  
}

.container__rectangle {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
}

.black-container1 {
  margin: 0.5em;
  min-width:430px;
  max-width: 430px;
  max-height: 377px;
  min-height: 377px;
  background-color:rgba(34, 34, 34, 1);
  color:rgba(244, 244, 245, 1);

}


.black-container2 {
  margin: 0.5rem;
  min-width:430px;
  max-width: 430px;
  max-height: 377px;
  min-height: 377px;
  background-color:rgba(34, 34, 34, 1);
  color:rgba(244, 244, 245, 1);
  font-family: 'Martel', serif;
  font-weight: 400;
  
  
}
.black-container3 {
  margin:0.5rem;
  min-width:430px;
  max-width: 430px;
  max-height: 377px;
  min-height: 377px;
  background-color:rgba(34, 34, 34, 1);
  color:rgba(244, 244, 245, 1);
  font-family: 'Martel', serif;
  font-weight: 400;
}


.black-container-content-1{
  font-family: 'Montserrat', serif;
  font-weight: 700;
  line-height: ;
  font-size: 3.5rem;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;

}
.black-container-content-2{
  font-family:'Martel', serif;
  font-weight:400;
  font-size: 1.5rem;
  padding-left: 2rem;
  margin: 0.1rem;
}
.black-container-content-3{
  font-family:'Martel', serif;
  font-weight:400;
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 2rem;
  line-height: 1.8rem;
}



.macbook-img{
  /* height: 100vh;
  height: 100svh; */
  /* max-height: 1080px; */
  /* width: 1440px; */
  position: relative;
  /* max-width:1920px; */
  min-width: 502px;
  min-height: 250px;
  position: inherit;
  background-image: url("assets/nike-create-your-kit.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 17rem ;
  margin-left: -2rem;

 
}
figcaption{
  font-family: 'Martel', serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #222;
  margin-top: 2rem;
}
.moving-away{
  font-family: "Montserrat", serif;
  line-height: 3rem;
  margin-bottom: ;
}

.blue-shirt-big-img{

  position: relative;
  height: auto;
  min-width: 502px;
  min-height: 250px;
  position: inherit;
  background-image: url("assets/blue-shirt-big-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 17rem ;
  margin-left: -2rem;
}



/* CONTACT US SECTION*/
.img-container {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  margin: 0;
  background-color: rgb(245, 252, 255);

}

.contact-container {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  background-color: rgb(245, 252, 255);
  overflow-y: hidden;

}

button {
  font: inherit;
  background: rgb(230, 6, 6);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .4em 3em;
  cursor: pointer;
  border-radius: 1em;
}

label {
  display: block;
  margin: 5px 0;
  text-align: left;
  color: rgb(128, 128, 128);
}


#subject {
  width: 80%;




}

dialog {
  /* overflow-y: hidden; */
  padding: 0px 25px 25px -50px;
}

dialog::backdrop {
  background: rgba(172, 169, 169, 0.753);
  backdrop-filter: blur(5px);
}

h5 {
  font-size: larger;
  text-align: left;

}

h6 {

  text-align: left;
  font-weight: bold;
  font-size: medium;


}


.btn-contact {

  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #cf2300;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
}

/* pop up contact form*/

.popup>h3 {
  text-align: center;
  font-size: 1em;
  height: 1em;
}

.popup>p {
  text-align: center;
}

.popup {

  top: 50%;
  left: 50%;
  color: black;
  background: rgb(255, 251, 251);
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  align-items: center;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;

}


.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: fixed;

}

.popup img {
  width: 80px;
  margin-top: -50px;
  border-radius: 50%;


}















/* main */
main {
  height: 100vh;
  margin: 0 2rem;
}

@media screen and (min-width: 600px) {
  header .title {
    left: 5%;
  }
  svg {
    left: 0;
  }

  nav {
    padding: 0 5%;
  }
  h2 {
    margin-left: 5%;
  }

  main {
    margin: 0 10%;
  }
  .macbook-img{
    margin-left: 5%;
  }
  .tag__container {
    margin-left: 5%;
  }
  .macbook-without-img{
    margin-left: 5%;
  }
}


@media screen and (min-width: 300px) {
  /* .container_1 {
    min-width: 50%;
    margin-left: 5%;
  } */
  }

