html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Geen flex op de body tag */
  max-width: 1920px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  max-width: 1344px;
}
h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h1 b {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  left: 1rem;
  font-family: "Martel", serif;
  padding-left: 2rem;
  margin-top: 108px;
}
.tag__container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5.1rem;
  margin-bottom: 2rem;
  /* margin: 0 2rem; */
  /* padding: 0 2rem; */
  /* margin-top: 2rem; */
}

.container_1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4rem;
}
.tag {
  background-color: #f4f4f5;
  border-radius: 1;
  color: #222;
  height: 2em;
  padding: 0.5rem;
  line-height: 1.5;
  white-space: nowrap;
  margin: 0.5rem;
}
span {
  margin-left: 8rem;
}

p {
  font-family: "Martel", serif;
  font-weight: 400;
  padding-left: 2rem;
  left: 1rem;
  right: 2rem;

  justify-content: center;
  max-width: 882;
}

h5 {
  font-weight: 700;
  font-family: "Monserrat";
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-top: 5.5rem;
}

.container__rectangle {
  margin-top: 6.5rem;
}
.img-1 {
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}
.img-2 {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.img-3 {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

header {
  height: 100vh;
  height: 100svh;
  max-height: 1080px;
  position: relative;
  background-color: darkgrey;
  background-image: url("assets/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}
header nav .site-nav {
  height: 100%;
}

header nav .site-nav div {
  height: 3px;
  width: 40px;
  margin: 0.5rem;
  background-color: white;
}

header .title {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

svg {
  position: relative;
  height: 50px;
  padding: 1rem 0 0.5rem 0;
}

/* main */
main {
  height: 100vh;
  margin: 0 2rem;
}

@media screen and (min-width: 600px) {
  header .title {
    left: 5%;
  }
  svg {
    left: 0;
  }

  nav {
    padding: 0 5%;
  }
  h2 {
    margin-left: 5%;
  }
}

@media screen and (min-width: 600px) {
  main {
    margin: 0 10%;
  }
  .tag__container {
    margin-left: 10%;
  }
}
